
h1{
	font-family: Almendra, serif;
}

p{
	font-family: Almendra, serif;
}

ul{
	font-family: Almendra, serif;
}

a{
	font-family: Almendra, serif;
}



.almendra-regular {
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
}

.almendra-bold {
  font-family: "Almendra", serif;
  font-weight: 700;
  font-style: normal;
}

.almendra-regular-italic {
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: italic;
}

.almendra-bold-italic {
  font-family: "Almendra", serif;
  font-weight: 700;
  font-style: italic;
}

ol.c {
  list-style-type: upper-roman;
}

ul.a {
  list-style-type: circle;
}

a:link, a:visited {
  background-color: #715C83;
  color: #224030;
  padding: 14px 25px;
  margin: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #472F5B;
  color: #526863;
}

body {
  background-color: #202732;
  color: #8F79A1;
}

img {
  opacity: 0.75;
  margin: 0px 10px;
}

