
h1{
	font-family: Almendra, serif;
}

p{
	font-family: Almendra, serif;
}

ul{
	font-family: Almendra, serif;
}

a{
	font-family: Almendra, serif;
}



.almendra-regular {
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
}

.almendra-bold {
  font-family: "Almendra", serif;
  font-weight: 700;
  font-style: normal;
}

.almendra-regular-italic {
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: italic;
}

.almendra-bold-italic {
  font-family: "Almendra", serif;
  font-weight: 700;
  font-style: italic;
}

ol.c {
  list-style-type: upper-roman;
}

ul.a {
  list-style-type: circle;
}

a:link, a:visited {
  background-color: #715C83;
  color: #224030;
  padding: 14px 25px;
  margin: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #472F5B;
  color: #526863;
}

body {
  background-color: #202732;
  color: #8F79A1;
}

img {
  opacity: 0.75;
  margin: 0px 10px;
}

div {
width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#1 {
  animation-delay: 0s;
}

#2 {
  animation-delay: 1s;
}

#3 {
  animation-delay: 2s;
}

#4 {
  animation-delay: 3s;
}

#5 {
  animation-delay: 4s;
}

@keyframes example {
  0%   {background-color:#53687E; left:0px; top:0px;}
  25%  {background-color:#C17C74; left:100px; top:0px;}
  50%  {background-color:#FFF1D0; left:200px; top:0px;}
  75%  {background-color:#C17C74; left:300px; top:0px;}
  100% {background-color:#53687E; left:400px; top:0px;}
}
